#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.5);
  /* animation: changeBor 5s infinite alternate linear; */
}
@keyframes changeBor {
  0% {
    border: 0.5px solid black;
  }
  25% {
    border: 0.5px solid rgb(74, 131, 253);
  }
  50%{
    border: 0.5px solid rgb(196, 53, 240);
  }
  75%{
    border: 0.5px solid rgb(207, 177, 2);
  }
  100%{
    border: 0.5px solid rgb(247, 141, 129);
  } 
}
.city{
  text-align: left;
  font-size: 30px;
  margin: 10px;
}
.temperature{
  font-size: 125px;
  margin: 10px;
  
}
h1{
  animation: changeT 5s infinite alternate linear;
}
@keyframes changeT {
  0% {
    color:  rgb(70, 69, 69);
  }
  25% {
    color:  rgb(106, 153, 255);
  }
  50%{
    color:  rgb(209, 94, 245);
  }
  75%{
    color:  rgb(241, 214, 56);
  }
  100%{
    color: rgb(247, 210, 206);
  } 
}
h2{
  text-align: left;
}
span{
  font-size: 2.5rem;
}
.icono img{
  /* border: 1px solid greenyellow; */
  font-size: 100px;
}
ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
  /* border:  1px solid greenyellow; */
  text-align: left;
}
li{
  color: rgb(45, 45, 155);
  font-size: 20px;
  font-weight: 700;
}
li::marker{
  content: none;
}
i{
  font-size: 20px;
  animation: changeT 5s infinite alternate linear;
}
.foot-container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: crimson;
}